@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  pointer-events: auto !important;
}

@theme {
  --font-sans: "Noto Sans HK", "sans-serif";
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
}
